<html>
<head>
<meta HTTP-Equiv="Content-Type" content="text/html">
<title>Django-CheetahTemplate Example</title>
<meta name="author" content="Oleg Broytman">
<link rel="author" href="./" title="&copy; 2018 PhiloSoft Design">
<meta name="copyright" content="&copy; 2018 PhiloSoft Design">
<link rev="made" href="mailto:phd@phdru.name">
<meta name="generator" content="CheetahTemplate">
</head>
<body>
  <h1>It works!</h1>
  <p>Hello, $name!</p>
</body>
</html>
